## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [3834]:
import pandas as pd

In [3835]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [3836]:
# 1
male = data[data['sex'] == 'Male'].shape[0]
female = data[data['sex'] == 'Female'].shape[0]
print(f"Male:   {male}\nFemale: {female}")

Male:   21790
Female: 10771

In [3837]:
# 2
print(data['sex'].shape[0], data['sex'].count(), sep="\n")
data['sex'].value_counts()

32561
32561

Male      21790
Female    10771
Name: sex, dtype: int64

In [3838]:
# 3
data.groupby('sex')['sex'].count()

sex
Female    10771
Male      21790
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [3839]:
# 1
data[data.sex == "Male"]["age"].mean(axis=0).round(1)

39.4

In [3840]:
# 2
m = data[data.sex == 'Male']
m["age"].mean().round(1)

39.4

In [3841]:
# 3
data.groupby('sex')['age'].mean()['Male'].round(1)

39.4

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [3842]:
all_nat_c_count = data["native-country"].count()
nat_c_usa_count = data[data["native-country"] == 'United-States']['native-country'].count()
print('{}%'.format((nat_c_usa_count / all_nat_c_count * 100).round(2)))

89.59%

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [3843]:
m_more_t_fift_k = data[data.salary == ">50K"]['age'].mean().round(1)
std_more_t_fift_k = data[data.salary == ">50K"]['age'].std().round(1)
m_less_t_fift_k = data[data.salary == "<=50K"]['age'].mean().round(1)
std_less_t_fift_k = data[data.salary == "<=50K"]['age'].std().round(1)

print("Cредний возраст person >50K per year: {0} и среднеквадратичное отклонение: {1}, средний возраст person <=50K per year: {2} и среднеквадратичное отклонение: {3}".format(m_more_t_fift_k, std_more_t_fift_k, m_less_t_fift_k, std_less_t_fift_k))

Cредний возраст person >50K per year: 44.2 и среднеквадратичное отклонение: 10.5, средний возраст person <=50K per year: 36.8 и среднеквадратичное отклонение: 14.0

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [3844]:
all(data[data.salary==">50K"]["education"].isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]))

False

In [3845]:
# check True:
data[data['salary'] == '>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [3846]:
all(data[data.salary==">50K"]["education"].isin(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th']))

True

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [3847]:
group_describe = data.groupby(['race', 'sex']).describe()
print(group_describe)
print('Asian-Pac-Islander mans max age is', group_describe['age']['max']['Asian-Pac-Islander']['Male'])

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                                         fnlwgt                 ...  \
                             75%   max    count           mean  ...
race               sex                                          ...
Amer-Indian-Eskimo Female  46.00  80.0    119.0  112950.731092  ...
                   Male    45.00  82.0    192.0  125715.364583  ...
Asian-Pac-Islander Female  43.75  75.0    346.0  147452.075145  ...
                   Male    46.00  90.0    693.0  166175.865801  ...
Black              Female  46.00  90.0   1555.0  212971.387781  ...
                   Male    46.00  90.0   1569.0  242920.644997  ...
Other              Female  39.00  74.0    109.0  172519.642202  ...
                   Male    42.00  77.0    162.0  213679.104938  ...
White              Female  46.00  90.0   8642.0  183549.966906  ...
                   Male    49.00  90.0  19174.0  188987.386148  ...

                          capital-loss         hours-per-week             \
                                   75%     max          count       mean
race               sex
Amer-Indian-Eskimo Female          0.0  1721.0          119.0  36.579832
                   Male            0.0  1980.0          192.0  42.197917
Asian-Pac-Islander Female          0.0  2258.0          346.0  37.439306
                   Male            0.0  2457.0          693.0  41.468975
Black              Female          0.0  4356.0         1555.0  36.834084
                   Male            0.0  2824.0         1569.0  39.997451
Other              Female          0.0  1740.0          109.0  35.926606
                   Male            0.0  2179.0          162.0  41.851852
White              Female          0.0  4356.0         8642.0  36.296691
                   Male            0.0  3770.0        19174.0  42.668822


                                 std  min   25%   50%   75%   max
race               sex
Amer-Indian-Eskimo Female  11.046509  4.0  35.0  40.0  40.0  84.0
                   Male    11.596280  3.0  40.0  40.0  45.0  84.0
Asian-Pac-Islander Female  12.479459  1.0  35.0  40.0  40.0  99.0
                   Male    12.387563  1.0  40.0  40.0  45.0  99.0
Black              Female   9.419960  2.0  35.0  40.0  40.0  99.0
                   Male    10.909413  1.0  40.0  40.0  40.0  99.0
Other              Female  10.300761  6.0  30.0  40.0  40.0  65.0
                   Male    11.084779  5.0  40.0  40.0  40.0  98.0
White              Female  12.190951  1.0  30.0  40.0  40.0  99.0
                   Male    12.194633  1.0  40.0  40.0  50.0  99.0

[10 rows x 48 columns]
Asian-Pac-Islander mans max age is 90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [3848]:
more_t_50k_m_data = data[(data["sex"] == "Male") & (data["salary"] == ">50K")]
all_more_t_50k_m = more_t_50k_m_data.shape[0] # -> 6662
print("married_man(>50K): {}%".format(round(more_t_50k_m_data[more_t_50k_m_data['marital-status'].str.startswith('Married')].shape[0] / all_more_t_50k_m * 100, 2)))
print("married_man(>50K): {}%".format(round(more_t_50k_m_data[~more_t_50k_m_data['marital-status'].str.startswith('Married')].shape[0] / all_more_t_50k_m * 100, 2)))

married_man(>50K): 89.54%
married_man(>50K): 10.46%

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [3849]:
print("Maximum hours per week for person(unit): {}".format(data["hours-per-week"].max()))
print("People with maximum hours per week: {}".format(data[data['hours-per-week'] == data["hours-per-week"].max()].shape[0]))
print("% with >50k$ of people with maximum hours per week: {}%".format(round(data[(data['hours-per-week'] == data["hours-per-week"].max()) & (data['salary'] == '>50K')].shape[0] / int(data[data['hours-per-week'] == data["hours-per-week"].max()].shape[0]) * 100, 2)))

Maximum hours per week for person(unit): 99
People with maximum hours per week: 85
% with >50k$ of people with maximum hours per week: 29.41%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [3850]:
# 1
for (c, sal), d in data.groupby(['native-country','salary']):
    print("In {} people with salary {} working {} hours".format(c, sal, d['hours-per-week'].mean().round(2)))

In ? people with salary <=50K working 40.16 hours
In ? people with salary >50K working 45.55 hours
In Cambodia people with salary <=50K working 41.42 hours
In Cambodia people with salary >50K working 40.0 hours
In Canada people with salary <=50K working 37.91 hours
In Canada people with salary >50K working 45.64 hours
In China people with salary <=50K working 37.38 hours
In China people with salary >50K working 38.9 hours
In Columbia people with salary <=50K working 38.68 hours
In Columbia people with salary >50K working 50.0 hours
In Cuba people with salary <=50K working 37.99 hours
In Cuba people with salary >50K working 42.44 hours
In Dominican-Republic people with salary <=50K working 42.34 hours
In Dominican-Republic people with salary >50K working 47.0 hours
In Ecuador people with salary <=50K working 38.04 hours
In Ecuador people with salary >50K working 48.75 hours
In El-Salvador people with salary <=50K working 36.03 hours
In El-Salvador people with salary >50K working 45.0 hours
In England people with salary <=50K working 40.48 hours
In England people with salary >50K working 44.53 hours
In France people with salary <=50K working 41.06 hours
In France people with salary >50K working 50.75 hours
In Germany people with salary <=50K working 39.14 hours
In Germany people with salary >50K working 44.98 hours
In Greece people with salary <=50K working 41.81 hours
In Greece people with salary >50K working 50.62 hours
In Guatemala people with salary <=50K working 39.36 hours
In Guatemala people with salary >50K working 36.67 hours
In Haiti people with salary <=50K working 36.33 hours
In Haiti people with salary >50K working 42.75 hours
In Holand-Netherlands people with salary <=50K working 40.0 hours
In Honduras people with salary <=50K working 34.33 hours
In Honduras people with salary >50K working 60.0 hours
In Hong people with salary <=50K working 39.14 hours
In Hong people with salary >50K working 45.0 hours
In Hungary people with salary <=50K working 31.3 hours
In Hungary people with salary >50K working 50.0 hours
In India people with salary <=50K working 38.23 hours
In India people with salary >50K working 46.48 hours
In Iran people with salary <=50K working 41.44 hours
In Iran people with salary >50K working 47.5 hours
In Ireland people with salary <=50K working 40.95 hours
In Ireland people with salary >50K working 48.0 hours
In Italy people with salary <=50K working 39.62 hours
In Italy people with salary >50K working 45.4 hours
In Jamaica people with salary <=50K working 38.24 hours
In Jamaica people with salary >50K working 41.1 hours
In Japan people with salary <=50K working 41.0 hours
In Japan people with salary >50K working 47.96 hours
In Laos people with salary <=50K working 40.38 hours
In Laos people with salary >50K working 40.0 hours
In Mexico people with salary <=50K working 40.0 hours
In Mexico people with salary >50K working 46.58 hours
In Nicaragua people with salary <=50K working 36.09 hours
In Nicaragua people with salary >50K working 37.5 hours
In Outlying-US(Guam-USVI-etc) people with salary <=50K working 41.86 hours
In Peru people with salary <=50K working 35.07 hours
In Peru people with salary >50K working 40.0 hours
In Philippines people with salary <=50K working 38.07 hours
In Philippines people with salary >50K working 43.03 hours
In Poland people with salary <=50K working 38.17 hours
In Poland people with salary >50K working 39.0 hours
In Portugal people with salary <=50K working 41.94 hours
In Portugal people with salary >50K working 41.5 hours
In Puerto-Rico people with salary <=50K working 38.47 hours
In Puerto-Rico people with salary >50K working 39.42 hours
In Scotland people with salary <=50K working 39.44 hours
In Scotland people with salary >50K working 46.67 hours
In South people with salary <=50K working 40.16 hours
In South people with salary >50K working 51.44 hours
In Taiwan people with salary <=50K working 33.77 hours
In Taiwan people with salary >50K working 46.8 hours
In Thailand people with salary <=50K working 42.87 hours
In Thailand people with salary >50K working 58.33 hours
In Trinadad&Tobago people with salary <=50K working 37.06 hours
In Trinadad&Tobago people with salary >50K working 40.0 hours
In United-States people with salary <=50K working 38.8 hours
In United-States people with salary >50K working 45.51 hours
In Vietnam people with salary <=50K working 37.19 hours
In Vietnam people with salary >50K working 39.2 hours
In Yugoslavia people with salary <=50K working 41.6 hours
In Yugoslavia people with salary >50K working 49.5 hours

In [3851]:
# 2
print(data.groupby(['native-country', 'salary'])['hours-per-week'].mean().round(2))

native-country  salary
?               <=50K     40.16
                >50K      45.55
Cambodia        <=50K     41.42
                >50K      40.00
Canada          <=50K     37.91
                          ...
United-States   >50K      45.51
Vietnam         <=50K     37.19
                >50K      39.20
Yugoslavia      <=50K     41.60
                >50K      49.50
Name: hours-per-week, Length: 82, dtype: float64

In [3852]:
# 3
print(data.where(data['salary']=='<=50K').groupby(['native-country'])['hours-per-week'].mean().round(2))
print(data.where(data['salary']=='>50K').groupby(['native-country'])['hours-per-week'].mean().round(2))

native-country
?                             40.16
Cambodia                      41.42
Canada                        37.91
China                         37.38
Columbia                      38.68
Cuba                          37.99
Dominican-Republic            42.34
Ecuador                       38.04
El-Salvador                   36.03
England                       40.48
France                        41.06
Germany                       39.14
Greece                        41.81
Guatemala                     39.36
Haiti                         36.33
Holand-Netherlands            40.00
Honduras                      34.33
Hong                          39.14
Hungary                       31.30
India                         38.23
Iran                          41.44
Ireland                       40.95
Italy                         39.62
Jamaica                       38.24
Japan                         41.00
Laos                          40.38
Mexico                        40.00
Nicaragua                     36.09
Outlying-US(Guam-USVI-etc)    41.86
Peru                          35.07
Philippines                   38.07
Poland                        38.17
Portugal                      41.94
Puerto-Rico                   38.47
Scotland                      39.44
South                         40.16
Taiwan                        33.77
Thailand                      42.87
Trinadad&Tobago               37.06
United-States                 38.80
Vietnam                       37.19
Yugoslavia                    41.60
Name: hours-per-week, dtype: float64
native-country
?                     45.55
Cambodia              40.00
Canada                45.64
China                 38.90
Columbia              50.00
Cuba                  42.44
Dominican-Republic    47.00
Ecuador               48.75
El-Salvador           45.00
England               44.53
France                50.75
Germany               44.98
Greece                50.62
Guatemala             36.67
Haiti                 42.75
Honduras              60.00
Hong                  45.00
Hungary               50.00
India                 46.48
Iran                  47.50
Ireland               48.00
Italy                 45.40
Jamaica               41.10
Japan                 47.96
Laos                  40.00
Mexico                46.58
Nicaragua             37.50
Peru                  40.00
Philippines           43.03
Poland                39.00
Portugal              41.50
Puerto-Rico           39.42
Scotland              46.67
South                 51.44
Taiwan                46.80
Thailand              58.33
Trinadad&Tobago       40.00
United-States         45.51
Vietnam               39.20
Yugoslavia            49.50
Name: hours-per-week, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [3853]:
# 1
young = data.query('age >= 16 and age < 35')
young.insert(15, 'AgeGroup', 'young')
adult = data.query('age >= 35 and age < 70')
adult.insert(15, 'AgeGroup', 'adult')
retiree = data.query('age >= 70 and age <= 100')
retiree.insert(15, 'AgeGroup', 'retiree')

print(pd.concat([young, adult, retiree], sort=False, axis=0))

       age  workclass  fnlwgt   education  education-num      marital-status  \
4       28    Private  338409   Bachelors             13  Married-civ-spouse
8       31    Private   45781     Masters             14       Never-married
11      30  State-gov  141297   Bachelors             13  Married-civ-spouse
12      23    Private  122272   Bachelors             13       Never-married
13      32    Private  205019  Assoc-acdm             12       Never-married
...    ...        ...     ...         ...            ...                 ...
32494   82          ?  403910     HS-grad              9       Never-married
32501   71    Private  138145         9th              5  Married-civ-spouse
32525   81          ?  120478   Assoc-voc             11            Divorced
32539   71          ?  287372   Doctorate             16  Married-civ-spouse
32542   72          ?  129912     HS-grad              9  Married-civ-spouse

           occupation   relationship                race     sex  \
4      Prof-specialty           Wife               Black  Female
8      Prof-specialty  Not-in-family               White  Female
11     Prof-specialty        Husband  Asian-Pac-Islander    Male
12       Adm-clerical      Own-child               White  Female
13              Sales  Not-in-family               Black    Male
...               ...            ...                 ...     ...
32494               ?  Not-in-family               White    Male
32501   Other-service        Husband               White    Male
32525               ?      Unmarried               White  Female
32539               ?        Husband               White    Male
32542               ?        Husband               White    Male

       capital-gain  capital-loss  hours-per-week native-country salary  \
4                 0             0              40           Cuba  <=50K
8             14084             0              50  United-States   >50K
11                0             0              40          India   >50K
12                0             0              30  United-States  <=50K
13                0             0              50  United-States  <=50K
...             ...           ...             ...            ...    ...
32494             0             0               3  United-States  <=50K
32501             0             0              40  United-States  <=50K
32525             0             0               1              ?  <=50K
32539             0             0              10  United-States   >50K
32542             0             0              25  United-States  <=50K

      AgeGroup
4        young
8        young
11       young
12       young
13       young
...        ...
32494  retiree
32501  retiree
32525  retiree
32539  retiree
32542  retiree

[32561 rows x 16 columns]

In [3854]:
# 2
data.loc[((data['age']>=16) & (data['age']<35)),'AgeGroup']='young'
data.loc[((data['age']>=35) & (data['age']<70)),'AgeGroup']='adult'
data.loc[((data['age']>=70) & (data['age']<=100)),'AgeGroup']='retiree'
print(data)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary  \
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

      AgeGroup
0        adult
1        adult
2        adult
3        adult
4        young
...        ...
32556    young
32557    adult
32558    adult
32559    young
32560    adult

[32561 rows x 16 columns]

In [3855]:
# 3
import numpy as np

conditions = [
             (data['age'] >= 16) & (data['age'] < 35),
             (data['age'] >= 35) & (data['age'] < 70),
             (data['age'] >= 70) & (data['age'] <= 100)]
values = ['young','adult','retiree']
data['AgeGroup'] = np.select(conditions, values)
data.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,adult
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,adult
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,adult
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,young
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,adult

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [3856]:
# 1
print(data[data["salary"]==">50K"]["AgeGroup"].value_counts())
print(data[data["salary"]==">50K"]["AgeGroup"].value_counts().idxmax())

adult      6240
young      1488
retiree     113
Name: AgeGroup, dtype: int64
adult

In [3857]:
# 2
print(data['salary'].where((data['salary']=='>50K') & (data['AgeGroup']=='young')).count())
print(data['salary'].where((data['salary']=='>50K') & (data['AgeGroup']=='adult')).count())
print(data['salary'].where((data['salary']=='>50K') & (data['AgeGroup']=='retiree')).count())
print(data.where(data['salary']=='>50K').groupby(['AgeGroup'])['AgeGroup'].count().idxmax())

1488
6240
113
adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [3858]:
print(data['occupation'].value_counts())

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

In [3859]:
print(data.groupby("occupation")["occupation"].count())

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
Name: occupation, dtype: int64

In [3860]:
def filter_func(grouped_data):
    return (grouped_data["age"].mean() <= 40) & all(grouped_data["hours-per-week"] > 5)

data.groupby("occupation").filter(filter_func).groupby('occupation')['age'].count()

occupation
Armed-Forces    9
Name: age, dtype: int64